# Ignore macOS system files
.DS_Store

# Ignore Python cache
.ipynb_checkpoints/
# VS Code
.vscode/

# macOS
.DS_Store

# Virtual environments
*tf2env*

# Local files
static/uploads
models/*

# python files
__pycache__/*